{% extends '@ibexadesign/ui/layout.html.twig' %}

{% trans_default_domain "content_variables" %}

{% block header %}
    <h1>{{ 'content_variables.menu.title'|trans({},'menu') }}</h1>
{% endblock %}

{% block breadcrumbs %}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'path.root'|trans, url: path('content_variables.collection.list') },
        { value: 'path.collections'|trans }
    ]} %}
{% endblock %}

{% block content_variables_collection %}{% endblock %}

{% block content_variables_bulk %}
    {{ render(controller('ContextualCode\\EzPlatformContentVariablesBundle\\Controller\\VariableController:bulkEditAction')) }}
{% endblock %}

{% block content %}
    {% include '@ibexadesign/ui/component/tab/tabs.html.twig' with {
        hide_toggler: true,
        tabs: [
            { id: 'first', label: 'content_variable_main__sidebar_left__collections'|trans({},'menu'), content: block('content_variables_collection'), active: true  },
            { id: 'second', label: 'content_variable_main__sidebar_left__bulk_edit'|trans({},'menu'), content: block('content_variables_bulk')},
        ]
    } %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-tabs-js', null, 'ibexa') }}
{% endblock %}