{% if title is defined %}
    <h2 class="ibexa-page-title__title">
        {% if iconName is defined %}
            <svg class="ibexa-icon ibexa-icon-{{ iconName }}">
                <use xlink:href="{{ asset(iconsFile|default('bundles/ibexaadminui/img/ibexa-icons.svg')) }}#{{ iconName }}"></use>
            </svg>
        {% endif %}
        {{ title }}
    </h2>
{% endif %}
