{% if title is defined %}
    <div class="ez-page-title py-3 px-4">
        <h1 class="ez-page-title__content-item">
            {% if iconName is defined %}
                <svg class="ez-icon ez-icon-{{ iconName }}">
                    <use xlink:href="{{ asset(iconsFile|default('bundles/ibexaadminui/img/ibexa-icons.svg')) }}#{{ iconName }}"></use>
                </svg>
            {% endif %}
            {{ title }}
        </h1>
    </div>
{% endif %}
