<button
    id="{{ id }}"
    type="button"
    class="btn btn-danger"
    disabled
    data-toggle="modal"
    data-target="#{{ modal_data_target }}"
    title="{{ title }}"
>
    <svg class="ez-icon ez-icon-trash">
        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
    </svg>
</button>
{% include '@ezdesign/admin/bulk_delete_confirmation_modal.html.twig' with {
    'id': modal_data_target,
    'message': message,
    'data_click': data_click,
} %}