<a title="{{ title }}" href="{{ href }}" class="btn btn-icon mx-2">
    <svg class="ez-icon ez-icon-edit">
        <use xlink:href="{{ asset('bundles/ibexaadminui/img/ez-icons.svg') }}#edit"/>
    </svg>
</a>