<a title="{{ title }}" href="{{ href }}" class="btn btn-icon mx-2">
    <svg class="ibexa-icon ibexa-icon-edit">
        <use xlink:href="{{ asset('bundles/ibexaadminui/img/ibexa-icons.svg') }}#edit"/>
    </svg>
</a>