<a title="{{ title }}" href="{{ href }}" class="btn btn-icon mx-3">
    <svg class="ibexa-icon ibexa-icon--secondary">
        <use xlink:href="{{ asset('bundles/ezplatformcontentvariables/img/icons.svg') }}#link-content"/>
    </svg>
</a>