<a
    title="{{ title }}"
    href="{{ href }}"
    class="btn btn-primary"
>
    <svg class="ez-icon ez-icon-create">
        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"/>
    </svg>
</a>