.ibexa-collapse--heavy .ibexa-collapse__header {
        display: block;
}

.ibexa-collapse--heavy  .ibexa-collapse__toggle-btn--status {
        float: right;
}
.no-padding {
        padding: 0px !important;
}
.no-margin{
        margin: 0px !important;
}

.ibexa-custom-tag[data-ezname="content_variables"] {
    content: url('/bundles/ibexaadminui/img/icons/keyword.svg');
    margin: 0 !important;
    display: inline-block;
}

.ck-dropdown__panel ul.ck-list {
    overflow-y: scroll;
    height: 200px;
}